@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: "oklahomaregular";
  src: url("https://raw.githubusercontent.com/onewaypath/css/master/fonts/oklahoma_normal-webfont.woff")
    format("woff");
  font-display: swap;
}

@font-face {
  font-family: "oklahomabold";
  src: url("https://raw.githubusercontent.com/onewaypath/css/master/fonts/oklahoma_bold-webfont.woff")
    format("woff");
  font-display: swap;
}

@font-face {
  font-family: "open-sans-regular";
  src: url("https://raw.githubusercontent.com/onewaypath/css/master/fonts/open-sans-regular.ttf");
  font-display: swap;
}

/* basic **/

body {
  text-align: center;
  margin: 0px;
  background: #dae1e7;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  border: solid 20px #fff;
}

p {
  font-family: open-sans-regular, sans-serif;
  color: #030004;
  font-weight: 400;
  font-size: 21px;
  max-width: 650px;
  margin: 80px auto 30px auto;
  line-height: 30px;
}

body h1:nth-child(1) {
  color: #ca972b;
  font-size: 62px;
  text-transform: uppercase;
  font-family: oklahomaregular, arial;
  font-weight: normal;
  margin-bottom: 18px;
}

/** Group header **/
body h1:nth-child(2) {
  text-transform: uppercase;
  font-size: 40px;
  font-family: oklahomaregular, arial;
  font-weight: normal;
  line-height: 0px;
  max-width: 450px;
  margin: auto;
  color: #000;
}

/** Group header- left line **/
body h1:nth-child(2):before {
  content: "";
  display: block;
  width: 130px;
  margin-left: 0px;
  height: 2px;
  background: #000;
  position: absolute;
}

/** Group header- right line **/
body h1:nth-child(2):after {
  content: "";
  display: block;
  width: 140px;
  height: 2px;
  background: #000;
  margin-left: 320px;
  position: absolute;
}

/* menu + icons **/
body > h2:nth-child(0) {
  display: none;
}

h2 {
  display: inline-block;
  width: 25%;
  max-width: 300px;
}

h2 img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 110px;
}

h2 a {
  display: block;
  width: 100%;
  padding-top: 120px;
  text-align: center;
  text-decoration: none;
  font-family: oklahomabold, arial;
  color: #030004;
  font-size: 18px;
}

h2 a:hover {
  color: #ca972b;
}

h2 a img:nth-child(2) {
  opacity: 0;
}

h2 a:hover img:nth-child(2) {
  opacity: 1;
}

h2 a:hover img:nth-child(1) {
  opacity: 0;
}

h2 img {
  margin-top: -130px;
}

/** hide the footer as per requested **/
footer {
  display: none;
}

@media all and (max-width: 767px) {
  body {
    padding-top: 80px;
  }

  body h1:nth-child(1) {
    font-size: 38px;
  }

  body h1:nth-child(2) {
    font-size: 21px;
  }

  body h1:nth-child(2)::before {
    width: 90px;
    margin-left: 80px;
  }

  body h1:nth-child(2):after {
    width: 80px;
    margin-left: 280px;
  }

  p {
    line-height: 1.5;
    max-width: 350px;
    font-size: 14px;
    font-weight: 700;
    margin: 50px auto 20px auto;
  }

  h2 {
    display: block;
    width: 180px;
    margin: 80px auto;
  }

  h2 img {
    border: solid 2px #000;
  }
}

@media all and (max-width: 490px) {
  body h1:nth-child(2) {
    max-width: 250px;
  }

  body h1:nth-child(2)::before {
    width: 70px;
    margin-left: 0px;
  }

  body h1:nth-child(2):after {
    margin-left: 180px;
  }
}
