@charset "UTF-8";
/* CSS Document: about.css */

h2 {
  text-align: left;
  margin-top: 80px;
}

p {
  text-align: left;
  margin-top: 0px;
}

figure {
  float: left;
  max-width: 200px;
  margin-right: 20px;
}

figure img {
  width: 100%;

  vertical-align: top;
  margin-right: 20px;
}

figcaption {
  display: none;
}

@media all and (max-width: 720px) {
  figure,
  h2,
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media all and (max-width: 410px) {
  figure {
    float: none;
    margin-right: 20px;
  }
}
