@charset "UTF-8";
/* CSS Document: about.css */

h2 {
  text-align: left;
  margin-top: 80px;
}

p {
  text-align: left;
  margin-top: 0px;
}

figure {
  float: left;
  max-width: 200px;
  margin-right: 20px;
  font-family: open-sans-regular, sans-serif;
  font-size: 12px;
  margin-left: 0px;
}

figure img {
  width: 100%;

  vertical-align: top;
  margin-right: 20px;
}

figcaption {
  display: none;
}

p a {
  color: black;
}

p a:hover {
  color: #ca972b;
}

@media all and (min-width: 768px) {
  body h1:nth-child(1) {
    margin-right: -200px;
    font-size: 40px;
  }

  body h1:nth-child(2) {
    margin-right: 0;
    font-size: 25px;
  }

  body h1:nth-child(2):before {
    width: 80px;
    margin-left: 80px;
  }

  body h1:nth-child(2):after {
    width: 80px;
    margin-left: 292px;
  }
}

@media all and (min-width: 870px) {
  body h1:nth-child(1) {
    margin-right: -350px;
  }

  body h1:nth-child(2) {
    margin-right: -75px;
  }
}

@media all and (min-width: 1020px) {
  body h1:nth-child(1) {
    margin-right: -500px;
  }

  body h1:nth-child(2) {
    margin-right: -150px;
  }
}

@media all and (max-width: 720px) {
  figure,
  h2,
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media all and (max-width: 767px) {
  figure,
  h2,
  p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  figure {
    margin: auto;
    margin-bottom: 20px;
    float: none;
  }
}
