@charset "UTF-8";
/* CSS Document: about.css */

h2 {
  text-align: left;
}

p {
  text-align: left;
  margin-top: 0px;
}

h2 + p {
  float: left;
  margin-right: 20px;
}

h2 + p img {
  width: 100%;
  max-width: 200px;
}

figcaption {
  display: none;
}

@media all and (max-width: 720px) {
  h2,
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media all and (max-width: 410px) {
  h2 + p {
    float: none;
    margin-right: 20px;
  }
}
