@charset "UTF-8";
/* CSS Document: contact-us.css */

body {
  max-width: 750px;
  overflow: hidden;
}

/*
h2 {
  margin-top: 120px;
  margin-bottom: 35px;
}*/
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

p b {
  font-weight: 600;
  text-transform: uppercase;
}

p:nth-last-of-type(3),
p:nth-last-of-type(2),
body > p:last-of-type {
  border-right: 2px solid #ca972b;
  border-left: 2px solid #ca972b;
  margin-bottom: 0px;
  max-width: 300px;
}

p:nth-last-of-type(3) {
  padding-top: 20px;
  margin-top: 50px;
  border-top: 2px solid #ca972b;
}

body > p:nth-last-of-type(2) {
  margin-top: 0px;
}

body > p:last-of-type {
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  border-bottom: 2px solid #ca972b; /* #fff */
}
p:nth-of-type(1) {
  margin-top: 80px;
}
footer {
  margin-top: 50px;
  /*position: absolute;*/
  bottom: 30px;
  left: 0;
  width: 100%;
}

@media all and (max-width: 768px) {
  p {
    word-break: break-word;
  }

  footer {
    position: relative;
  }

  footer p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
