@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: "oklahomaregular";
  src: url("../fonts/oklahoma_normal-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "oklahomabold";
  src: url("../fonts/oklahoma_bold-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "open-sans-regular";
  src: url("../fonts/open-sans-regular.ttf");
  font-display: swap;
}

/* basic **/

html {
  border: solid 20px #fff;
}

body {
  text-align: center;
  background: #cae3d1;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 650px;
  margin: auto;
}

h2,
h3,
h4,
p {
  font-family: open-sans-regular, sans-serif;
  color: #030004;
  font-weight: 400;
  font-size: 21px;
  max-width: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

h2 {
  font-size: 21px;
  font-weight: 900;
}

h3 {
  text-decoration: underline;
}

p {
  font-size: 16px;
}

/** Group header **/
body h1:nth-child(1) {
  color: #ca972b;
  font-size: 62px;
  text-transform: uppercase;
  font-family: oklahomaregular, arial;
  font-weight: normal;
  margin-bottom: 18px;
}

body h1:nth-child(2) {
  text-transform: uppercase;
  font-size: 40px;
  font-family: oklahomaregular, arial;
  font-weight: normal;
  line-height: 0px;
  max-width: 450px;
  margin: auto;
  color: #000;
}

/** Group header- left line **/
body h1:nth-child(2):before {
  content: "";
  display: block;
  width: 130px;
  margin-left: 0px;
  height: 2px;
  background: #000;
  position: absolute;
}

/** Group header- right line **/
body h1:nth-child(2):after {
  content: "";
  display: block;
  width: 131px;
  height: 2px;
  background: #000;
  margin-left: 320px;
  position: absolute;
}

/** footer **/
footer {
  margin-top: 50px;
}

footer p {
  text-align: center;
}

footer a {
  font-family: open-sans-regular, sans-serif;
  text-decoration: none;
  color: #030004;
  font-size: 18px;
}

footer a:hover {
  color: #ca972b;
}

/** media query **/
@media all and (max-width: 767px) {
  body {
    padding-top: 80px;
  }

  body h1:nth-child(1) {
    font-size: 38px;
  }

  body h1:nth-child(2) {
    font-size: 21px;
  }

  body h1:nth-child(2)::before {
    width: 85px;
    margin-left: 85px;
  }

  body h1:nth-child(2):after {
    width: 80px;
    margin-left: 284px;
  }
}

@media all and (max-width: 490px) {
  body h1:nth-child(2) {
    max-width: 250px;
  }

  body h1:nth-child(2)::before {
    width: 82px;
    margin-left: -12px;
  }

  body h1:nth-child(2):after {
    margin-left: 180px;
    width: 83.5px;
  }
}

@media all and (max-width: 400px) {
  body h1:nth-child(1) {
    font-size: 30px;
  }
  body h1:nth-child(2):after {
    width: 51px;
  }

  body h1:nth-child(2)::before {
    width: 55px;
    margin-left: 12px;
  }
}

@media all and (max-width: 280px) {
  body h1:nth-child(2):after {
    display: none;
  }

  body h1:nth-child(2)::before {
    display: none;
  }
}
