@charset "UTF-8";
/* CSS Document: privacy.css */

h3 {
  margin-top: 100px;
}

h3:nth-of-type(2) {
	margin-top:50px;
}

h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}
p {
  margin-top: 0px;
}

footer {
  margin-top: 100px;
}

@media all and (max-width: 768px) {
  h3 {
    margin-top: 100px;
  }

  h4,
  p {
    margin-top: 0px;
  }

  p,
  h3,
  h4 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
