body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

body > header {
  width: 100%;
}

body > section:nth-child(2) {
  margin-top: 50px;
}

body > section:nth-child(3) {
  order: 1;
}
body > section:nth-child(4) {
  order: 2;
}
body > section:nth-child(5) {
  order: 1;
}
body > section:nth-child(6) {
  order: 2;
}
body > footer {
  order: 3;
  width: 100%;
}

h2,
h3,
h4,
p {
  text-align: left;
  margin-top: 0px;
}

section a:hover,
section a:hover * {
  color: #ca972b;
}

footer p {
  text-align: center;
}

p {
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  font-family: "oklahomabold";
}

h4 {
  font-weight: 600;
}

p a {
  color: black;
}

p a:hover {
  color: #ca972b;
}

@media all and (min-width: 800px) {
  body h1:nth-child(1) {
    margin-right: -320px;
    font-size: 40px;
  }

  body h1:nth-child(2) {
    margin-right: -60px;
    font-size: 25px;
  }

  body h1:nth-child(2):before {
    width: 80px;
    margin-left: 80px;
  }

  body h1:nth-child(2):after {
    width: 80px;
    margin-left: 292px;
  }
}

@media (min-width: 490px) and (max-width: 800px) {
  body h1:nth-child(1) {
    font-size: 38px;
  }
  body h1:nth-child(2) {
    font-size: 21px;
  }
  body h1:nth-child(2) {
    text-transform: uppercase;
    font-family: oklahomaregular, arial;
    font-weight: normal;
    line-height: 0px;
    max-width: 450px;
    margin: auto;
    color: #000;
  }
  body h1:nth-child(2)::before {
    width: 85px;
    margin-left: 85px;
  }
  body h1:nth-child(2):after {
    width: 80px;
    margin-left: 284px;
  }
}

@media (max-width: 768px) {
  body {
    display: block;
  }
  h2,
  h3,
  h4,
  p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
