body,
h3,
p {
  max-width: 1280px;
  margin-left: 0px;
  text-align: left;
}

body {
  margin: auto;
  padding: 0px 20px;
}

h3 {
  font-family: lato-regular;
  font-weight: 700;
  font-size: 1.42857em;
  margin-top: 20px;
  text-decoration: none;
}

p,
li {
  font-family: lato-regular;
  font-size: 14px;
}

p {
  margin-top: 20px;
}

ul,
ol {
  padding-left: 15px;

  margin-top: 30px;
}

li {
  line-height: 1.8;
}

img {
  border: solid 4px #b07c18;
  box-sizing: border-box;
  max-width: 100%;
}

p a,
p a:hover {
  color: #b07c18;
  text-decoration: none;
}

@media all and (max-width: 1280px) {
  body,
  h3,
  p {
    max-width: 992px;
  }
}

/** title **/
body h1:nth-child(1) {
  color: #000;
  text-transform: none;
  font-size: 2.5em;
  font-family: muli-regular;
  font-weight: 300;
  margin-bottom: 10px;
}

@media all and (max-width: 490px) {
  body h1:nth-child(1) {
    font-size: 1.8em;
    word-break: break-all;
  }
}

body h1:nth-child(2) {
  font-size: 1em;
  color: #000;
  text-transform: none;
  font-family: lato-regular;
  font-weight: 300;
  line-height: 0px;
  max-width: none;
  margin-bottom: 20px;
}

body h1:nth-child(2):before {
  display: none;
}

body h1:nth-child(2):after {
  display: none;
}
