body,
h2,
p {
  max-width: 1280px;
  margin-left: 0px;
  text-align: left;
}

body {
  margin: auto;
  padding: 0px 20px;
}

h2 {
  font-family: lato-regular;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: lato-regular;
  font-size: 14px;
  margin-top: 0px;
}

p a,
p a:hover {
  color: #b07c18;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

@media all and (max-width: 1280px) {
  body,
  h2,
  p {
    max-width: 992px;
  }
}

@media all and (max-width: 490px) {
  h3 {
    margin-top: 20px;
  }
}

/** title **/
body h1:nth-child(1) {
  color: #000;
  text-transform: none;
  font-size: 2.5em;
  font-family: muli-regular;
  font-weight: 300;
  margin-bottom: 10px;
}

@media all and (max-width: 490px) {
  body h1:nth-child(1) {
    font-size: 1.8em;
    word-break: break-all;
  }
}

body h1:nth-child(2) {
  font-size: 1em;
  color: #000;
  text-transform: none;
  font-family: lato-regular;
  font-weight: 300;
  line-height: 0px;
  max-width: none;
  margin-bottom: 20px;
}

body h1:nth-child(2):before {
  display: none;
}

body h1:nth-child(2):after {
  display: none;
}
